*{
    box-sizing: border-box;
    margin: 0;
    
}
p{
    margin: 0;
}
html{
    font-size: 16px;
}
/* .container{
    padding: 0;
    margin: 0 5rem;
} */
.container-fluid{
    padding: 0 5rem;
}

.btn{
    border: solid 2px transparent;
    border-radius: inherit;
}

/* css header */
header{
    background-color: #ff6cbc;
}

.header-navbar{
    max-height: 5rem;
}
.header-navbar-logo>a>img{
    width: 100%;
}
.header-navbar-search{
    margin: 16px 24px;
    max-height: 3rem;
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
}

.header-navbar-search>input{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 0 16px ;
    border-radius: 8px;
    border: none;
    outline: none;
}

.header-navbar-search>img{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    color: #909090;
}

.header-navbar-button{
    max-height: 3rem;
}
.header-navbar-button>button{
    margin: 16px 24px 16px 0;
    max-width: 5.3rem;
    display: flex;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 0;
}
.header-navbar-button>button>img{
    padding: 8px;
}
.header-navbar-button>button>p{
    font-size: 1rem;
    margin-left: -8px;
    margin-bottom: 0;
    line-height: normal;
}
.header-navbar-button>.header-navbar-button-map{
    min-width: 12rem;
    margin-right: 0;
}
.header-navbar-button>.header-navbar-button-map>p{
    margin-top: 12px;
    margin-left: 0;
}

/* css main */
main{
    margin: 24px 5rem;
}
/* css product */
.product{
    width: 100%;
    margin: auto;
}
.col,.col-12{
    padding: 0;
}

.product-nameA{
    height: 4rem;
}

.product-name{
    height: 100%;
    background-color: #ff9ed3;
}

.product-N{
    font-size: 1.5rem;
    padding: 20px 0 0 24px;
    color: #fff;
}

.col{
    height: 25rem;
    width: 18.875rem;
    margin-right: 1.5rem;
}

.product-item{
    padding: 24px;
}
.product-item-name{
    min-height: 3rem;
    font-size: 1.125rem;
    color: #5a5a5a;
    font-style: normal;
}

.product-item-addtocart{
    width: 100%;
    height: 2.875rem;
    color: #f2678e;
    border-color: #f2678e;
    margin: auto;
    font-size: 1.25rem;
}

/* css button more */
.product-moreA{
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-more{
    border-color: #ff6cbc;
    padding: 1rem 3.5rem;
}

/* css footer */
footer{
    padding: 0 80px;
    background-color: #6d6d6d;
}
/* .footer-content{
    max-height: 18.25rem;
} */
.footer-title{
    color: #d4d4d4;
    font-size: 1.25rem;
    margin: 1.25rem 0 0 0;
}
.footer-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}
.footer-image{
    margin-top: 1.5rem;
    width: 13.5rem;
    height: 5rem;
}
.footer-content-company{
    color: #fff;
    margin-bottom: 1.5rem;
}


/* hover */
.header-navbar-search>img:hover{
    background-color: #ffcaca;
    cursor: pointer;
}

.header-navbar-button>button:hover{
    cursor: pointer;
    background-color: #ffcaca;
}
.btn-more:hover{
    color: white;
    background-color: #ff6cbc;
}
.product-item:hover{
    box-shadow: 0 0 10px 0 hsl(0deg 0% 60% / 60%);

}
.product-item-addtocart:hover{
    color: white;
    background-color: #f2678e;
}
footer>div>a:hover{
    color: #ff6cbc;
}