* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
    background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    --bg: #e9eef4;
    --color-text: #0e0e0e;
    --color-border: #bcbfc2;
    --btn-active: #bcbfc2;
}

#result {
    padding: .5rem 1rem 0rem;
    text-align: right;
    height: 50px;
    font-size: 1.8rem;
    color: var(--color-text);
    background: var(--bg);
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
.theme{
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: -5rem ;
    padding-top: 5rem;
}
.container {
    padding: 5rem 0;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    display: grid;
    grid-template-rows:  1fr 6fr;
}

.calculator {
    border-top: 1px solid var(--color-border);
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 2fr 1.5fr;
}

.number {
    background: var(--bg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);   
}

.operation {
    background: var(--bg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.btn {
    border: solid 1px silver;
    width: 100%;
    font-size: 1.5rem;
    color: var(--color-text);
    background: var(--bg);
    outline: none;
    cursor: pointer;
}

.operation .btn {
    color: #1a73e0;
}

.btn:active {
    border-radius: 50%;
    background: var(--btn-active);
    cursor: pointer;
}

#changer{
    font-size: 20px;
}

#changer:hover{
    cursor: pointer;
    background: pink;
    color: white;
}

/*css theme dark*/
.html1 {
    --bg: rgb(70, 68, 68);
    --color-text: #fff;
    --color-border: #bcbfc2;
    --btn-active: #bcbfc2;
}
.btn1{
    border: solid 1px white ;
}

