* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container-fluid {
  padding: 0;
}

/* css header */
header {
  background: url("../kiemtracathtml/anh/Bitmap.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.name {
  font-size: 1rem;
  padding-top: 3%;
  margin-left: 10%;
}

header > div {
  color: white;
}

header > .support > h2 {
  font-size: 2.3rem;
  line-height: 60px;
  margin-top: 14%;
  margin-bottom: 1rem;
}

header > .support > p {
  font-size: .75rem;
  line-height: 32px;
  width: 34%;
  margin-bottom: 2rem;
}

header > .email {
  width: 100%;
  padding-bottom: 5rem;
}

header > .email > .email_input {
  width: 65%;

}

input,
button {
  height: 2.5rem;
  border-radius: 4px;
}

input {
  outline: none;
  width: 40%;
  margin-right: 1.6rem;
  padding-left: 1rem;
  background-color: rgba(202, 199, 199, 0.4);
  border: none;
}

::placeholder {
  color: white;
  font-family: lato-relugar;
  font-size: 1rem;
}

header > .email > .email_input >button {
  color: white;
  width: 20%;
  outline: none;
  border: none;
  background: linear-gradient(90deg, #fe985b 2.77%, #fe4fa7 100%);
}

/*css section*/
section{
    margin-top: 3rem;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 2.4rem;
}

.blog{
    width: 70%;
}

.text-1{
    font-size: .75rem;
    margin-top: 6%;
}

.text-2{
    font-size: 0.7rem;
    line-height: 1.2rem;
}

section>.row>.col-6>a>img{
    padding-top: 5%;
    width: 100%;
}

hr{
    margin-top: 10%;
    margin-bottom: 9%;
}

section>.row>.col-4>a>img{
    max-width: 60px!important;
}

/* css article*/
article{
    margin-top: 11%;
    margin-bottom: 8%;
    background-color: #f6fafd;
}
article>div>.row{
    width: 60%;
}
article>div>.row>img{
    margin-top: 3%;
}

article>div>.row>.slogan>p{
    font-size: 1rem;
}

article>div>.row>.slogan>.sign{
    font-size: 1.25rem!important;
}


/* css main*/
.buy{
    width: 70%;
    margin-bottom: 10%;
}

main>.row>.col-12>p{
    font-size: .75rem;
    max-width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
}

main>.row>.col-6{
    padding: 5%;
}

main>.row>.col-6>h4{
    font-size: .6rem;
}

main>.row>.col-6>button{
    border: 1px solid silver;
    background-color: white;
    padding: 1% 15%;
    font-size: .75rem;
    border-radius: 4px;
}

.price>span{
    font-size: 3rem;
    color: #fe4fa7;
}

main>.row>.col-6>p{
    font-size: .7rem;
}
.content{
    max-width: 75%;
    font-size: 1rem;
    margin-bottom: 10%;
}

.use{
    padding: 5% 20% ;
    background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
}

main>.use>.use_title{
    font-size: 2.3rem;
}

main>.use>.content{
    font-size: .85rem;
    width: 70%;
    margin: 0 auto 3% auto;
}

main>.use>button{
    font-size: .75rem;
    background-color: white;
    border: none;
    border-radius: 4px;
    width: 20%;
}

/* css nav*/
nav>.name_nav{
    font-size: 1rem;
    padding: 5% 30% 1% 30% ;
}

nav>.menu>ul>li>a{
    color: black;
    font-size: .6rem;
}

nav>.menu{
    width: 50%;
}

nav>.menu>ul>li{
    list-style: none;
}

/* css footer*/
footer>.menu{
    margin-top: 5%;
    width: 50%;
}

footer>.menu>ul>li{
    list-style: none;
}

footer>.menu>ul>p{
    font-size: .6rem;
    margin-bottom: 0;
}

footer>.menu>ul>li>a{
    font-size: .6rem;
    color: black;
}
/* FONT*/
@font-face{
    font-family: lato-bold;
    src: url("../kiemtracathtml/fontlato/Lato-Bold.ttf");
}

@font-face{
    font-family: lato-relugar;
    src: url("../kiemtracathtml/fontlato/Lato-Regular.ttf");
}

@font-face{
    font-family: lato-ligth;
    src: url("../kiemtracathtml/fontlato/Lato-Light.ttf");
}

.font-relugar{
    font-family: lato-relugar;
}

.font-bold{
    font-family: lato-bold;
}

.font-ligth{
    font-family: lato-ligth;
}
/* hover */
header>.email>.email_input>button:hover{
    
    background: rgba(202, 199, 199, 0.4);
}

section>.row>.col-4:hover{
    background-color: #f6fafd;
}

main>.row>.col-6>button:hover{
    background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
    color: white;
    border: none;
}

main>.row>.col-6:hover{
    background-color: #f6fafd;
}

main>.use>button:hover{
    background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
    color: white;
    border: none;
}

nav>div>ul>li>a:hover{
    color: #fe50a6;

}

footer>div>ul>li>a:hover{
    color: #fe50a6;
}
/* responsive */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    html{
        font-size: 12px;
    }
    header > .support > h2{
        margin-top: 2rem;
        font-size: 2rem;
        margin-bottom: 0;
        line-height: inherit;
    }
    header > .support > p{
        width: 57%;
        font-size: 1rem;
        margin-bottom: 0;
        line-height: inherit;
    }
    header>.email>.email_input{
        padding-top: 0;
    }
    
    section>.row>.col-6{
        flex: inherit;
        max-width: 100%;
    }
    input{
        margin-right: 1.5rem;
    }
    header>.email>.email_input>button{
        width: 40%;
    }
    article>div>.row{
        width: 100%;
    }
    .use{
        padding: 0;
        padding-bottom: 3%;
        
    }
    .buy{
        width: 100%;
    }
    nav>.menu{
        width: 90%;
    }
    footer>.menu{
        width: 90%;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    html{
        font-size: 14px;
    }
    header > .support > h2{
        margin-top: 2rem;
        font-size: 2rem;
        margin-bottom: 0;
        line-height: inherit;
    }
    header > .support > p{
        width: 40%;
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
        line-height: inherit;
    }
    header>.email>.email_input{
        padding-top: 0;
    }
    
    section>.row>.col-6{
        flex: inherit;
        max-width: 100%;
    }
    input{
        margin-right: 1.5rem;
    }
    header>.email>.email_input>button{
        width: 40%;
    }
    article>div>.row{
        width: 100%;
    }
    .use{
        padding: 0;
        padding-bottom: 3%;
        
    }
    .buy{
        width: 80%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    html{
        font-size: 16px!important;
    }
    header > .support > h2{
        font-size: 2rem;
    }
    article>div>.row{
        width: 100%;
    }
    .use{
        padding: 0;
        padding-bottom: 3%;
        
    }
    .buy{
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    html{
        font-size: 18px;
    }
    header > .support > h2{
        font-size: 2rem;
    }
    article>div>.row{
        width: 100%;
    }
    .use{
        padding: 0;
        padding-bottom: 3%;
        
    }
    .buy{
        width: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1599px) { 
    html{
        font-size: 24px;
    }
    section{
        margin-top: 3rem;
    }
}
/* >1600px*/
@media (min-width: 1600px){
    html{
        font-size: 30px;
    }
    footer>.menu{
        width: 50%;
    }
}