a {
    text-decoration:none;
    text-decoration: uppercase;
    background-color: rgb(214, 139, 41);
    display:block;
    width: 500px;
    margin-left:50px;
    margin-top: 50px;
    padding: 20px;
}